.board {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 0;
}

.taskListItem {
    width: 100%;
    max-width: 20%;
    border: 1px solid black;
    list-style: none;
    display: flex;
    justify-content: space-between;
}